@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Sriracha&display=swap');
:root {
    --cor0: #FFFFFF;
    --cor1: #E0E2DB;
    --cor2: #BEB7A4;
    --cor3: #3D348B;
    --cor4: #cc971c;
    --cor6: #191716;

    --fonte-default: Arial, Verdana, Helvetica, Sans-serif;
    --fonte-destaque: 'Bebas', Sans-serif;
    --fonte-textos: 'Roboto Condensed', sans-serif;
}

* {
    margin:0px;
    padding: 0px;
}

body {
 background-image: url(../imgs/bkg-3.png);
 background-position: top right;
 background-size: cover;
}

nav {
    min-width: 350px;
    max-width: 860px;
    height: 30px;
    margin: auto;
    background-color: var(--cor6);
    padding: 20px;
}


header {
    position: relative;
    min-width: 350px;
    max-width: 900px;
    height: 400px;
    background: url(../imgs/pf-06.jpg) no-repeat;
    background-position: left bottom;
    background-size: cover;
    margin: auto;
    text-align: center;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;
    box-shadow: 2px 2px 8px var(--cor6);
}

section.container {
    background-color: rgba(0, 0, 0, 0.336);
    height: 100%;
    border-bottom-left-radius: 70px;
    border-bottom-right-radius: 70px;    
}
.foto {
    margin: auto;
    margin-top:60px;
    margin-bottom: 20px;
    width: 150px;
    border-radius: 50%;
    box-shadow: 1px 1px 2px var(--cor6);
}

header h1 {
    top: 60px;
    font-family: var(--fonte-destaque);
    color: var(--cor0);
    text-shadow: 1px 1px 0px var(--cor6);
}

header p {
    top: 60px;
    color: var(--cor0);
    padding-bottom: 10px;
    text-shadow: 1px 1px 0px var(--cor6);
}

.redessociais {
    margin: auto;
    width: 500px;
    padding-top: 10px;
}
.redessociais > a > img {
    width: 30px;
    padding-right: 20px;
}

.redessociais > img {
    width: 30px;
    padding-right: 20px;
}


main {
    background-color:var(--cor2);
    background-size: cover;
    min-width: 350px;
    max-width: 900px;
    margin: auto;
    margin-top: -60px;
}

section.container-main {
    padding: 80px 10px 10px 10px;
}

div.personal-container {
    margin: auto;
    padding: 15px 15px;
    border-radius: 20px;
    font-family: var(--fonte-textos);
    text-align: center;
    
}

div.personal-container > h3 {
    margin-bottom: 10px;
    color: var(--cor3);
}
div.personal-container > h2 {
    margin-bottom: 20px;
    color: var(--cor3);
}

div.personal-container > p {
    color: var(--cor6);
    padding: 20px;
}

aside {
    display: flex;
    gap: 16px;
    justify-content: center;
    flex-wrap: wrap;
    padding: 20px;
    padding-bottom: 20px;
    font-family: var(--fonte-textos);
}

.titulo-servicos {
    position: absolute;
    color: var(--cor3);
}

div.trabalhos {
    width: 200px;
    height: 250px;
    background-color:var(--cor4);
    border-radius: 10px;
    text-align: center;
    margin-top: 50px;
    margin-right: 20px;
    padding: 20px;
}

div.trabalhos > a > img {
    width: 30px;
    padding: 20px;
}

div.trabalhos > a {
    text-decoration: none;
    color: var(--cor6);
}
.descricao-trabalhos {
    padding: 10px 0px;

}
#status1 {
    background-color: var(--cor3);
    color: var(--cor0);
    position:relative;
    top: 15%;
    border: 1px solid var(--cor6);
    border-radius: 5px;
    height: 20px;
    padding: 20px;
}

#status2 {
    background-color: var(--cor3);
    color: var(--cor0);
    position:relative;
    top: 15%;
    border: 1px solid var(--cor6);
    border-radius: 5px;
    height: 20px;
    padding: 20px;
}

#status3 {
    background-color: var(--cor3);
    color: var(--cor0);
    position:relative;
    top: 8%;
    border: 1px solid var(--cor6);
    border-radius: 5px;
    height: 20px;
    padding: 20px;
}

.trabalhos:hover {
    background-color: var(--cor3);
    color: var(--cor0);
}

.trabalhos:hover h2 {
    background-color: var(--cor3);
    color: var(--cor0);
}

.trabalhos:hover p {
    background-color: var(--cor3);
    color: var(--cor0);
}

#status1:hover {
    background-color: var(--cor4);
    color: var(--cor0);
}

#status2:hover {
    background-color: var(--cor4);
    color: var(--cor0);
}

#status3:hover {
    background-color: var(--cor4);
    color: var(--cor0);
}

footer {
    background-color: var(--cor3);
    min-width: 350px;
    max-width: 900px;
    color: var(--cor0);
    margin: auto;
}
footer p {
    text-align: center;
    padding: 10px;
}