@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Sriracha&display=swap');
:root {
    --cor0: #FFFFFF;
    --cor1: #E0E2DB;
    --cor2: #BEB7A4;
    --cor3: #3D348B;
    --cor4: #cc971c;
    --cor6: #191716;
    --cor7: rgb(68, 65, 65);

    --fonte-default: Arial, Verdana, Helvetica, Sans-serif;
    --fonte-destaque: 'Bebas', Sans-serif;
    --fonte-textos: 'Roboto Condensed', sans-serif;
    --fonte-menu: 'Oswald', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor1);
}

/* Menú superior */

nav {
    display: flex;
    gap: 16px;
    flex-wrap: wrap;
    background-color: var(--cor6);
    min-width:320px;
    max-width: 900px;
    margin: auto;
    height: 50px;
    color: white;

}

nav img {
    width: 40px;
    padding: 10px 30px;
}

nav a {
    text-decoration: none;
    text-align: center;
    padding: 10px;
    font-family: var(--fonte-menu);
    font-size: 1.3em;
    color: var(--cor2);
    border-radius: 5px;

}

nav a:hover {
    background-color: var(--cor3);
    color: var(--cor4);
}

/* Cabeçalho */

header {
    min-width: 320px;
    max-width: 900px;
    height: 350px;
    background-color: var(--cor3);
    margin: auto;
    text-align: center;
    color: var(--cor0);
}

.cabecalho {
    display: inline-block;
    background-color: var(--cor3);
    width: 80%;
    height: 80%;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid white;
    border-top-right-radius:40px;
    border-bottom-left-radius:40px;
}

.cabecalho > img {
    width: 250px;
    padding-top: 5px;
}

.cabecalho h1 {
   padding-bottom: 10px;
   text-shadow: 1px 1px 0px black;
}

.cabecalho p {
    padding-bottom: 30px;
    color: var(--cor0);
    text-shadow: 1px 1px 0px black;
}


/* Principal */
main {
    background-color: var(--cor3);
    min-width: 320px;
    max-width: 900px;
    height: 50%;
    margin: auto;
}

article {
    padding: 20px;
    text-align: justify;
}

#titulo {
    color: var(--cor0);
    padding-bottom: 20px;
    padding-top: 20px;
    text-shadow: 1px 1px 0px black;
}
article h1 {
    color: var(--cor0);
    text-shadow: 1px 1px 0px black;
}


article p {
    line-height: 2em;
    text-indent: 30px;
    font-family: var(--fonte-default);
    color: var(--cor7);
}

.subtitulos {
    font-family: var(--fonte-textos);
    padding: 20px 0px;
    color: var(--cor7);    
}

.conteudo {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--cor0);
}

.conteudo p {
    margin-bottom: 15px;
}

ol {
    padding-left: 100px;
    margin-bottom: 20px;
    font-size: 1em;
    font-family: var(--fonte-textos);
    line-height: 2;
}

footer {
    background-color: var(--cor4);
    min-width: 350px;
    max-width: 900px;
    color: var(--cor0);
    margin: auto;
}
footer p {
    text-align: center;
    padding: 10px;
}