@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Sriracha&display=swap');
:root {
    --cor0: #FFFFFF;
    --cor1: #E0E2DB;
    --cor2: #6d655e;
    --cor3: #3D348B;
    --cor4: #cc971c;
    --cor6: #191716;
    --cor7: rgb(68, 65, 65);

    --fonte-default: Arial, Verdana, Helvetica, Sans-serif;
    --fonte-destaque: 'Bebas', Sans-serif;
    --fonte-textos: 'Roboto Condensed', sans-serif;
    --fonte-menu: 'Oswald', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor1);
}

/* Menu superior */

nav {
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    background-color: var(--cor6);
    min-width:320px;
    max-width: 900px;
    width: 100%;
    height: 50px;
    z-index: 10;

}

#container-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#container-menu > img {
    width: 50px;
    margin-left: 20px;
    margin-top: 5px;
}

#menu {
    margin-right: 20px;
    margin-top: 5px;
}

#menu a {
    text-decoration: none;
    text-align: center;
    padding: 10px;
    font-size: large;
    font-family: var(--fonte-menu);
    color: var(--cor0);
    margin-right: 20px;

}

#menu > a:hover {
    background-color: var(--cor3);
    color: #cc971c;
    border-radius: 5px;
}

/* Cabeçalho */

header {
    background-color: var(--cor3);
    min-width: 300px;
    max-width: 900px;
    width: 100%;
    height: 350px;
    background-color: var(--cor3);
    margin: auto;
    padding-top: 80px;
    text-align: center;
    color: var(--cor0);
    position: relative;
}

div#header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: rgba(0, 0, 0, 0.425);
    min-width: 320px;
    max-width: 100%;
    height: 100%;
    border-top-right-radius:40px;
    border-bottom-left-radius:40px;
    
}
.cabecalho {
    display: inline-block;
    background-image: url('../imagens/ColunaGrega-SemFundo.png');
    background-repeat: no-repeat;
    width: 80%;
    height: 80%;
    margin: auto;
    margin-top: 20px;
    border: 1px solid white;
    border-top-right-radius:40px;
    border-bottom-left-radius:40px;
}

div#header > img {
    width: 150px;
    padding-bottom: 15px;
    
}

.cabecalho h1 {
   padding-bottom: 10px;
   text-shadow: 1px 1px 0px black;
}

.cabecalho p {
    padding-bottom: 30px;
    color: var(--cor0);
    text-shadow: 1px 1px 0px black;
}


/* Principal */
main {
    background-color: var(--cor3);
    min-width: 300px;
    max-width: 900px;
    width: 100%;
    margin: auto;

}

/* ARTIGOS - container pai */

section#container {
    margin-bottom: 10px;
    margin: auto;   
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

/*CONTAINER DOS QUADROS DE ARTIGOS*/

section#container-artigos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 10px 0px 10px 10px;

    background-color: #6059a1;
    border-radius: 10px;
    border:1px solid var(--cor2);
    box-shadow: 2px 2px 3px black;
}

div#titulo-pg {
    background-color: #3f3697;
    width: 130px;
    border: 2px solid var(--cor2);
    border-top-right-radius:40px;
    border-bottom-left-radius:40px;
    padding: 10px;
    font-size: 0.8em;
    text-align: center;
    color: var(--cor4);
    margin-left: 30px;
    margin-bottom: 20px;
    margin-top: 10px;
    box-shadow: 2px 2px 3px black;
    
}

div#titulo-pg h1 {   /*H1 - "ARTIGOS" */
    font-family: var(--fonte-destaque);
    font-size: 1rem;
}

/* QUADROS DE ARTIGOS*/

.q-artigos {
    background-color: var(--cor3);
    border: 2px solid var(--cor2);
    min-width: 19rem;
    max-width: 310px;
    margin: 10px 10px;
    padding: 10px;
    border-radius: 15px;
        
}

.q-artigos a {
    text-decoration: none;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 1px black;
}

.q-artigos > a > time {
    font-size: 0.8em;
    color:#cccae0;
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
}

.q-artigos > a > h2 {
    font-size: 1.2em;
    margin-top: 10px;
    font-family: var(--fonte-menu);
    color: var(--coro);
}

.q-artigos p {
    font-size: 0.9em;
    margin: 0px 0px 15px 0px;
    font-family: var(--fonte-menu);
}

/* MINHA FOTO */

section#foto {
    text-align: center;
    border: 1px solid var(--cor2);
    border-radius: 20px;
    box-shadow: 2px 2px 3px black;

    min-width: 15rem;
    max-width: 300px;
    

    padding: 15px;
}

section#foto img {
    border-radius: 50%;
    margin: 0px 5px;
    border: 1px solid var(--cor4);
    box-shadow: 2px 2px 2px black;
}

section#foto figcaption {
    font-family: var(--fonte-menu);
    color: var(--cor4);
    text-align: center;
    font-size: 1em;
    text-decoration: underline;
    margin-bottom: 10px;
}

#sobre-mim {
    font-family: var(--fonte-menu);
    font-size: 1rem;
    text-align: center;
    color: var(--cor0);
}

/*RODAPÉ*/

footer {
    background-color: var(--cor2);
    min-width: 300px;
    max-width: 900px;
    color: var(--cor0);
    margin: auto;
}

footer p {
    text-align: center;
    padding: 10px;
}