@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&family=Sriracha&display=swap');
:root {
    --cor0: #FFFFFF;
    --cor1: #E0E2DB;
    --cor2: #BEB7A4;
    --cor3: #3D348B;
    --cor4: #cc971c;
    --cor6: #191716;
    --cor7: rgb(68, 65, 65);

    --fonte-default: Arial, Verdana, Helvetica, Sans-serif;
    --fonte-destaque: 'Bebas', Sans-serif;
    --fonte-textos: 'Roboto Condensed', sans-serif;
    --fonte-menu: 'Oswald', sans-serif;
}

* {
    margin: 0px;
    padding: 0px;
}

body {
    background-color: var(--cor1);
}

/* Menu superior */

nav {
    position: fixed;
    margin: auto;
    left: 0;
    right: 0;
    background-color: var(--cor6);
    min-width:320px;
    max-width: 900px;
    width: 100%;
    height: 50px;
    z-index: 10;

}

#container-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#container-menu > img {
    width: 50px;
    margin-left: 20px;
    margin-top: 5px;
}

#menu {
    margin-right: 20px;
    margin-top: 5px;
}

#menu a {
    text-decoration: none;
    text-align: center;
    padding: 10px;
    font-size: large;
    font-family: var(--fonte-menu);
    color: var(--cor0);
    margin-right: 20px;

}

#menu > a:hover {
    background-color: var(--cor3);
    color: #cc971c;
    border-radius: 5px;
}

/* Cabeçalho */

header {
    min-width: 320px;
    max-width: 900px;
    width: 100%;
    height: 350px;
    background-color: var(--cor3);
    margin: auto;
    padding-top: 80px;
    text-align: center;
    color: var(--cor0);
}

.cabecalho {
    display: inline-block;
    background-color: var(--cor3);
    width: 80%;
    height: 80%;
    margin: auto;
    margin-top: 20px;
    padding: 10px;
    border: 1px solid white;
    border-top-right-radius:40px;
    border-bottom-left-radius:40px;
}

.cabecalho > img {
    width: 250px;
    padding-top: 5px;
}

.cabecalho h1 {
   padding-bottom: 10px;
   text-shadow: 1px 1px 0px black;
}

.cabecalho p {
    padding-bottom: 30px;
    color: var(--cor0);
    text-shadow: 1px 1px 0px black;
}


/* Principal */
main {
    background-color: var(--cor3);
    min-width: 320px;
    max-width: 900px;
    width: 100%;
    margin: auto;
}

article {
    padding: 20px;
    text-align: justify;
}

article p {
    line-height: 2em;
    text-indent: 30px;
    font-family: var(--fonte-default);
    color: var(--cor7);
}

#video1 {
    position: relative;
    background-color: var(--cor3);
    margin: 0px -20px 30px -20px;
    padding: 20px;
    padding-bottom: 58%;
}

#video1 > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

#titulo-video {
    display: flex;
    flex-direction: column;
    background-color: var(--cor3);
    border-top-right-radius: 15px;
    max-width: 300px;
    margin-left: -12px;
    margin-bottom: -20px;
}

#titulo-video h2 {
    color: var(--cor4);
    font-size: 130%;
    padding: 10px 10px;
    font-family: var(--fonte-menu);
}

#titulo-video p {
    position: relative;
    right: 16px;
    bottom: 15px;
    color: white;
    font-style: italic;
    font-size: 0.9em;
}


#container-principal {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-bottom: 20px;

}

#livro {
    width: 150px;
    padding-left: 20px;
    margin-right: 10px;
    
}

#container-titulo {
    padding: 10px;
}

#container-titulo h1 {
    font-family: var(--fonte-menu);
    font-size: 2em;
    color: var(--cor0);
    padding-bottom: 10px;
    padding-top: 20px;
    text-shadow: 1px 1px 0px black;
    
}

#container-titulo h2 {
    color: var(--cor0);
    text-shadow: 1px 1px 0px black;
    margin-bottom: 20px;
}



.subtitulos {
    font-family: var(--fonte-textos);
    padding: 20px 0px;
    color: var(--cor7);    
}

.conteudo {
    border: 1px solid black;
    border-radius: 10px;
    padding: 10px;
    background-color: var(--cor0);
}

.conteudo p {
    margin-bottom: 15px;
}

.conteudo a {
    text-decoration: none;
}

a.externo::after {
    content: '\00A0\1F517';
}

ol {
    padding-left: 50px;
    margin-bottom: 20px;
    font-size: 1em;
    font-family: var(--fonte-textos);
    line-height: 2;
}


#lista {
    display: flex;
    justify-content: center;
    padding: 10px;
    max-width: 450px;
    margin: auto;
    margin-bottom: 15px;
    font-family: var(--fonte-textos);
    background-color: rgb(59, 56, 56);
    color: rgb(212, 207, 207);
}

#lista ul {
    list-style-type: none;
    text-align: center;
}

/*Conceito de sentido último*/

aside {
    background-color: var(--cor2);
    padding: 10px;
    border-radius: 10px;
    border: 1px solid black;
    margin-bottom: 20px;
}

aside h3 {
    background-color: var(--cor3);
    color: var(--cor0);
    padding: 10px;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    
}

/* Foto do autor do texto e informações sobre ele */

#autor {
    display: flex;
    max-width: 700px;
    margin: auto;
    border: 1px solid white;
    margin-top: 15px;
    border: 1px solid white;
}

#foto {
    position: relative;
    bottom: 0;
    max-width: 150px;
}

#descricao-foto {
    margin-top: 30px;
    margin-left: 10px;
    color: var(--cor0);
    padding: 10px;
    text-align: center;
    line-height: 1;
    font-style: italic;
    max-width: 400px;
  
}

footer {
    background-color: var(--cor4);
    min-width: 320px;
    max-width: 900px;
    color: var(--cor0);
    margin: auto;
}
footer p {
    text-align: center;
    padding: 10px;
}